
import init.rk30board.usb.rc
import init.${ro.hardware}.bootmode.${ro.bootmode}.rc
import init.connectivity.rc

on early-init
    export SECOND_VOLUME_STORAGE /mnt/external_sd
    mkdir /mnt/external_sd 0000 system system
    export THIRD_VOLUME_STORAGE /mnt/usb_storage/USB_DISK0
    mkdir /mnt/usb_storage 0755 system system

on init

loglevel 8

# for adobe reader mobile
    export RK_ADOBE_DE_MOBILE 1
    export EBOOK_PAGE_VISIBLE_NUMBER 2
    export RK_ADEPT_DEVICE_TYPE mobile
    export RK_ADOBE_DE_DOC_FOLDER "/mnt/sdcard/Digital Editions"
    export RK_ADEPT_ACTIVATION_FILE /mnt/sdcard/.adobe-digital-editions/activation.xml
    export RK_ADEPT_DEVICE_FILE /mnt/sdcard/.adobe-digital-editions/device.xml
    export RK_ADEPT_DEVICE_SALT_FILE /mnt/sdcard/.adobe-digital-editions/devicesalt
    export ADOBE_FONTS_DIR  /system/fonts/adobefonts/
    export HOST_STORAGE_DIRECTORY_EXTERN_0 /mnt/usb_storage/USB_DISK0
    export HOST_STORAGE_DIRECTORY_EXTERN_1 /mnt/usb_storage/USB_DISK1
    export HOST_STORAGE_DIRECTORY_EXTERN_2 /mnt/usb_storage/USB_DISK2
    export HOST_STORAGE_DIRECTORY_EXTERN_3 /mnt/usb_storage/USB_DISK3
    export HOST_STORAGE_DIRECTORY_EXTERN_4 /mnt/usb_storage/USB_DISK4
    export HOST_STORAGE_DIRECTORY_EXTERN_5 /mnt/usb_storage/USB_DISK5

    export EXTERNAL_STORAGE /mnt/internal_sd
    export EXTERNAL_STORAGE_FLASH /mnt/internal_sd
    export EMULATED_STORAGE_SOURCE /mnt/internal_sd

    mkdir /metadata 0770 root root
    mkdir /mnt/internal_sd 0000 system system
    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /storage/emulated 0555 root root

    # Create private mountpoint so we can MS_MOVE from staging
    mount tmpfs tmpfs /mnt/secure mode=0700,uid=0,gid=0

    # Directory for multi usb storage
    mkdir /mnt/usb_storage 0700 root system
    mount tmpfs tmpfs /mnt/usb_storage mode=0555,uid=1013,gid=1023

on post-fs
    insmod /system/lib/modules/ump.ko
    insmod /system/lib/modules/mali.ko mali_dvfs=50,100,133,160,200,266,400 mali_init_clock=50
    insmod /system/lib/modules/rk30_mirroring.ko
    insmod /system/lib/modules/rk29-ipp.ko

# AP6476 GPS permission
    chmod 755 /system/bin/glgps
    chown root system /system/bin/glgps
    chmod 644 /system/lib/hw/gps.default.so
    chown root system /system/lib/hw/gps.default.so
    mkdir /data/gps
    chmod 770 /data/gps
    chown system net_bt_stack /data/gps

    mount rootfs rootfs / rw remount
    mount tmpfs tmpfs /mnt/secure private rec

on post-fs-data
    # we will remap this as /mnt/sdcard with the sdcard fuse tool
    mkdir /data/media 0770 media_rw media_rw
    chown media_rw media_rw /data/media

    setprop vold.post_fs_data_done 1
    
    mkdir /data/misc/ppp 777 system system
    chmod 777 /data/misc/ppp
    copy /etc/ppp/pap-secrets /data/misc/ppp/pap-secrets
    copy /etc/ppp/pppoe.conf /data/misc/ppp/pppoe.conf

    mkdir /data/local/tmp/ctsScreenShot 0771 system system

on boot
    setprop UserVolumeLabel "RockChips"
    mount debugfs /sys/kernel/debug /sys/kernel/debug
    chown system system /sys/devices/system/cpu/cpu1/online
    chmod 0660 /sys/devices/system/cpu/cpu1/online
#    insmod /system/lib/modules/vpu_service.ko

#backlight
    chown system system /sys/class/backlight/rk28_bl/brightness
    
#for hdmi timem out
    chown root system /sys/class/display/HDMI/enable
    chown root system /sys/class/display/HDMI/mode
    chown root system /sys/class/display/HDMI/scale

    chown root system /sys/class/graphics/fb0/blank
    chmod 0664 /sys/class/graphics/fb0/blank

    chown system system /sys/mali400_utility/utility
    chmod 0664 /sys/mali400_utility/utility

    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
     
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_setspeed
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_setspeed

# for usb audio
    chmod 0664 /sys/class/switch/usb_audio_playback/state
    chmod 0664 /sys/class/switch/usb_audio_capture/state
    chown system system /sys/class/switch/usb_audio_playback/state
    chown system system /sys/class/switch/usb_audio_capture/state

# for usb switch 
    chown system system /sys/bus/platform/drivers/usb20_otg/force_usb_mode

# Set this property so surfaceflinger is not started by system_init
    setprop system_init.startsurfaceflinger 0

service displayd /system/bin/displayd
    class main
    socket displayd stream 0660 root system

service shutdownanim /system/bin/bootanimation -shutdown
    class main
    user graphics
    group graphics
    disabled
    oneshot

service rkflash_recovery /system/bin/install-recovery.sh
     class main
     oneshot

service drmservice /system/bin/drmservice
    class main
    oneshot

# create virtual SD card at /mnt/sdcard, based on the /data/media directory
# daemon will drop to user/group system/media_rw after initializing
# underlying files in /data/media will be created with user and group media_rw (1023)
service sdcard /system/bin/sdcard -u 1023 -g 1023 -l /data/media /mnt/shell/emulated
    class main
    
on property:selinux.reload_policy=1
    restart ueventd
    restart installd

on property:ro.factory.hasUMS=false
    symlink /storage/emulated/legacy /sdcard
    symlink /storage/emulated/legacy /mnt/sdcard
    symlink /storage/emulated/legacy /storage/sdcard0
    symlink /mnt/shell/emulated/0 /storage/emulated/legacy
    mount rootfs rootfs / ro remount

on property:ro.factory.hasUMS=cdrom
    symlink /storage/emulated/legacy /sdcard
    symlink /storage/emulated/legacy /mnt/sdcard
    symlink /storage/emulated/legacy /storage/sdcard0
    symlink /mnt/shell/emulated/0 /storage/emulated/legacy
    mount rootfs rootfs / ro remount

on property:ro.factory.hasUMS=true
    symlink /mnt/internal_sd /sdcard
    symlink /mnt/internal_sd /mnt/sdcard
    symlink /mnt/internal_sd /storage/sdcard0
    mount rootfs rootfs / ro remount
    stop sdcard
    
on property:ro.config.low_ram=true
    write /sys/kernel/mm/ksm/pages_to_scan 100
    write /sys/kernel/mm/ksm/sleep_millisecs 500
    write /sys/kernel/mm/ksm/run 1
    write /proc/sys/vm/page-cluster 0 

# Binding fuse mount point to /storage/emulated/legacy
#on property:init.svc.sdcard=running
#    wait /mnt/shell/emulated/0
#    mount none /mnt/shell/emulated/0 /storage/emulated/legacy bind


service wfd /system/bin/wfd
    class main
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_wlan0 system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service dhcpcd_p2p /system/bin/dhcpcd -aABKL
    class main
    disabled
    oneshot

service iprenew_p2p system/bin/dhcpcd -n
    class main
    disabled
    oneshot
# bugreport is triggered by holding down volume down, volume up and power
service bugreport /system/bin/bugreport.sh
    class main
    disabled
    oneshot
    keycodes 114 115 116

service chrome /system/bin/chrome.sh
    class main
    oneshot

service dhcpcd_eth0 /system/bin/dhcpcd -ABKL
    class main
	disabled
	oneshot
			
service iprenew_eth0 system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service dhcpcd_bt-pan /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_bt-pan /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

on property:ro.boot.charger.emmc=1
    mount ext4 /dev/block/platform/emmc/by-name/system /system wait ro noatime nodiratime
    start console
    mount ext4 /dev/block/platform/emmc/by-name/metadata /metadata wait noatime nodiratime nosuid nodev noauto_da_alloc,discard
    start charger

on property:ro.boot.charger.emmc=0
    insmod /rk30xxnand_ko.ko
    mount ext4 mtd@system /system wait ro noatime nodiratime noauto_da_alloc
    start console
    mount ext4 mtd@metadata /metadata wait noatime nodiratime nosuid nodev noauto_da_alloc
    start charger

on charger
    setprop ro.boot.charger.emmc 0
    export PATH /sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin
    export LD_LIBRARY_PATH /vendor/lib:/system/lib
    setprop sys.usb.config adb

service charger /charger
    disabled

service akmd /system/bin/akmd
        class main
        user system
        group system
        oneshot

on property:sys.gmali.performance=ui
    start pat_ui

service pat_ui /system/bin/performance ui
    disabled
    oneshot

on property:sys.gmali.performance=video
    start pat_video

#factory
on property:ro.factory.tool=1     
    write /sys/class/gsensor_class/orientation gsensor={-1,0,0,0,0,1,0,-1,0}
    write /sys/devices/platform/rk29-keypad/rk29key {menu:MENU,home:HOME,vol+:VOLUP,vol-:VOLDOWN,play:PLAY,esc:ESC,sensor:CAMERA}
    write /sys/devices/platform/rk29_backlight/rk29backlight 100

service pat_video /system/bin/performance video
    disabled
    oneshot
        
service pppoe_setup /system/bin/pppoe-setup
    disabled
    oneshot

service pppoe_start /system/bin/pppoe-start
    disabled
    oneshot
    
service bplus_helper  /system/bin/bplus_helper
    class main
    oneshot

service pppoe_stop /system/bin/pppoe-stop
    disabled
    oneshot

on property:ro.rk.btchip=broadcom.bplus
    start gpsd

service gpsd  /system/bin/glgps -c /system/etc/gps/gpsconfig.xml
    class main
    disabled
    user root
    group system

service cifsmanager /data/etc/cifsmanager.sh
    disabled
    oneshot

service iso_operate /data/bluray.sh
    disabled
    oneshot
